<h1>Welcome to YelpBalsa</h1>
<h2>This is one of the sample applications for <%= link_to "Baserails", "http://www.baserails.com" %>, a platform that teaches people to build awesome custom websites with the Ruby on Rails programming language.</h2>
